.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.login-button {
    width: 100%;
    padding: 7px;
    background: #0095f6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: #385185;
    font-size: 0.9rem;
    text-decoration: none;
}